:root {
    --pb: 1.5em;
    --pd: var(--pb) 24em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000;
    color: #e8e8e8;
    overflow: hidden;
}

.blur {
    backdrop-filter: blur(64px) brightness(30%) saturate(300%);
    -webkit-backdrop-filter: blur(64px) brightness(30%) saturate(300%);
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
    left: 0;
    padding: var(--pd);
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

svg {
    fill: #fff;
}

nav a {
    display: inline-block;
    color: inherit;
    font-weight: 500;
    text-underline-offset: 3px;
    text-decoration-color: #D218F0;
}

nav a:hover,
nav a:active {
    text-underline-offset: 5px;
    text-decoration-color: #1855F0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    min-height: 100svh;
    padding: var(--pd);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

h1 {
    font-size: 2.7rem;
    max-width: 8ch;
    font-weight: 800;
    background: linear-gradient(-100deg, #1855F0 14.97%, #D218F0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.5));
}

.content a {
    background-color: hsl(292, 88%, 42%);
    border-radius: 12px;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 2.5em;
    margin-top: .5em;
}

.hero {
    display: none;
}

.content p {
    max-width: 40ch;
}

.content a:hover,
.content a:active {
    outline: 2px solid #D218F0;
    background-color: transparent;
}

.social-icons {
    display: flex;
    gap: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding: var(--pd);
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

@media only screen and (max-width: 600px) {
    :root {
        --pb: .9em;
        --pd: var(--pb) 1.5em;
    }

    header {
        font-size: .9rem;
        padding: var(--pd);
    }

    nav svg {
        max-width: 24px;
    }

    main {
        gap: 16px;
        padding: var(--pd);
    }

    .content a {
        min-width: 100%;
    }

    .content p {
        max-width: 24ch;
    }

    footer {
        padding: var(--pd);
    }
}

@media only screen and (min-width: 600px) {
    :root {
        --pd: var(--pb) 6em;
    }

    header {
        padding: var(--pd);
    }

    nav svg {
        max-width: 32px;
    }

    main {
        padding: var(--pd);
    }

    footer {
        padding: var(--pd);
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --pd: var(--pb) 12em;
    }

    header {
        padding: var(--pd);
    }

    main {
        padding: var(--pd);
    }

    footer {
        padding: var(--pd);
    }
}

@media only screen and (min-width: 992px) {
    :root {
        --pd: var(--pb) 16em;
    }

    header {
        padding: var(--pd);
    }

    main {
        gap: 20px;
        padding: var(--pd);
    }

    footer {
        padding: var(--pd);
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --pd: var(--pb) 24em;
    }

    header {
        padding: var(--pd);
    }

    main {
        gap: 24px;
        padding: var(--pd);
    }

    h1 {
        font-size: 4rem;
        max-width: 15ch;
    }

    .content p {
        max-width: 56ch;
    }
}